@{
    ViewBag.Title = "awesome astronauts > home page";
}

<div class="jumbotron">
    <h1>AWESOME ASTRONAUTS: MISSION TRACKER</h1>
    <p class="lead">
    </p>
</div>
<div class="btn btn-basic text-muted my_buttons" style="border:1px solid black">
    <b>@Html.ActionLink("Create A New Crew!   ", "Create", "Crews")></b>
</div>

